div(ng-include='"components/navbar/navbar.html"')
.container
	.col-xs-12.col-sm-6.col-md-12.col-lg-12
		.panel.panel-info
			.panel-heading
				h6 Recommendations
			.panel-body
				.text-center					
					.ng-hide(ng-hide="recommendations",style="margin-top: 100px; margin-bottom:100px").dots-loader
				article.search-result.row(ng-repeat="recommendation in recommendations")
					.col-xs-12.col-sm-12.col-md-2.col-lg-2
						a(title="owner's avatar" href="#")
							img.thumbnail(src="{{recommendation.avatar}}" )
					.col-xs-12.col-sm-12.col-md-2.col-lg-2
						ul.meta-search
							li
								i.glyphicon.glyphicon-calendar(title="Last Updated Date") 
								span {{recommendation.lastUpdated}}
							li
								i.glyphicon.glyphicon-time(title="Last Updated Time")
								span {{recommendation.timeUpdated}}
							li
								i.glyphicon.glyphicon-cutlery(title="Forks")
								span {{recommendation.forks}}
								i
								i.glyphicon.glyphicon-eye-open(title="Watchers")
								span {{recommendation.watchers}}
								i
								i.glyphicon.glyphicon-info-sign(title="Open Issues")
								span {{recommendation.issues}}
							li
								i.glyphicon.glyphicon-tags(title="Language")
								span {{recommendation.lang}}
					.col-xs-12.col-sm-12.col-md-7.col-lg-7
						h3
							a(href="{{recommendation.url}}") {{recommendation.name}}
						p {{recommendation.description}}
						i.glyphicon.glyphicon-bookmark(title="Matched Skills")  
						span {{recommendation.matchedSkills}}
						i.glyphicon.glyphicon-link(title="Source") 
						span {{recommendation.source}}
							
							
								



				