div(ng-include='"components/navbar/navbar.html"')
.container
  .row
    .col-sm-12
      h1 Login
      
    .col-sm-12
      div  
        a.btn.btn-lg.btn-linkedin(href='', ng-click='loginOauth("linkedin")')
          i.fa.fa-linkedin
          |  Connect with LinkedIn
  hr
