div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h2 Find exciting Open Source Projects to contribute    
    p.lead for skills that you rock!
      div
        img(src='assets/images/banner.png')
    div
      a.btn.btn-lg.btn-linkedin(href='', ng-click='loginOauth("linkedin")')
          i.fa.fa-linkedin
          |  Connect with LinkedIn

.container
  .row
    .col-md-4
      .panel.panel-default
        .panel-heading
          h3.panel-title Personalized
        .panel-body Projects are recommended based
                    | on your skillset and experience.
                    | This ensures that you contribute 
                    | in domains that you are best at!
    .col-md-4
      .panel.panel-default
        .panel-heading
          h3.panel-title Great Codebases
        .panel-body Since you already know what you doing,
                    | the code that you write is gonna be
                    | keep the entire codebase sparkling clean!
    .col-md-4
      .panel.panel-default
        .panel-heading
          h3.panel-title Career kickstarter
        .panel-body Contributing to the right open source projects
                    | is a career kickstarter. Fight on Code Ninja!
                    | Make the world a better place with free softwares.
        
footer.footer
  .container
    p
      | FossHelper Alpha 
      = ' | '
      a(href='https://twitter.com/crozzfire') @crozzfire
      = ' | '
      a(href='https://twitter.com/mahimams') @mahimams
      = ' | '
      a(href='https://github.com/crozzfire/fosshelper') Github