div(ng-include='"components/navbar/navbar.html"')
.container
	.col-xs-12.col-sm-6.col-md-6
		.panel.panel-info
			.panel-heading
				h6 Let us know a bit more about yourself
			.panel-body
				form#suggestionsForm(ng-submit="recommend()")					
					.form-group
						label Experience level
						div.radio
							label
								input(type="radio",ng-model="data.experienceLevel",value="1")
								| New to the coding world
						div.radio
							label
								input(type="radio",ng-model="data.experienceLevel",value="2")
								| Have been developing for a while now
						div.radio
							label
								input(type="radio",ng-model="data.experienceLevel",value="3")
								| Super awesome code ninja!	
					hr			
					.form-group
						label Select your top 5 skills			
						div.btn-group(data-toggle="buttons")
							#selectSkills(ng-repeat="skill in user.linkedin.skills")
								label.btn.btn-xs.btn-primary
									input(name="{{ skill }}",type="checkbox",ng-model="data.topSkills[skill]",ng-checked="data.topSkills[skill]",value="{{ skill }}" )
									| &nbsp;{{ skill }}													
						br
						div.input-group
							input.form-control(type="text",placeholder="Add Skill",name="addSkill",ng-model="data.newSkill")
							span.input-group-btn
								button.btn.btn-default(type="button",ng-click="addSkill($event)")
									b +		
					.form-group
						div.text-center
							button.btn.btn-lg.btn-success(type="submit")	Find me awesome projects!					

	#about.col-xs-12.col-sm-6.col-md-6
		.well.well-sm
			.row
				.col-sm-6.col-md-4
					img(src="{{user.linkedin.pictureUrl}}",width="100%").img-rounded.img-responsive
				.col-sm-6.col-md-8
					p
						h4 {{user.name}}
						small
							i.glyphicon.glyphicon-map-marker                        						
							cite(title="{{user.linkedin.location.name}}") &nbsp;&nbsp;&nbsp; {{user.linkedin.location.name}}			
						br
						i.glyphicon.glyphicon-envelope &nbsp;{{user.emails[0]}} 
						br
						i.glyphicon.glyphicon-globe 
							a(href="{{user.linkedin.publicProfileUrl}}") &nbsp;
								span.label.label-default {{user.linkedin.publicProfileUrl}}
			hr					
			.row												
			#bio
				strong About:	
				p {{user.linkedin.summary}}													
			#skills
				strong Skills: &nbsp;
				p 
					span.label.label-default(ng-repeat="skill in user.linkedin.skills") {{ skill }}								