#about a {
	text-decoration: none
}

#skills span {
	margin-right: 10px;
	display: inline-block
}

.aboutHeader {
	background-color: #d9edf7;
}

#suggestionsForm h4 {
	text-color : #777;
}

#selectSkills {
	margin: 5px;
	display: inline-block;
}